body {
  font-family: Arial;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  font-family: monospace;
  resize: none;
}

#terminal {
  width: 100%;
  height: 300px;
  background: black;
  margin-top: 10px;
  
}

.cursor {
  display: inline-block;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.hidden {
  display: none;
}
